<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>TNP_Project_2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginCheck</display-name>
    <servlet-name>LoginCheck</servlet-name>
    <servlet-class>com.DBConnection.LoginCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginCheck</servlet-name>
    <url-pattern>/LoginCheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterInput</display-name>
    <servlet-name>RegisterInput</servlet-name>
    <servlet-class>com.DBConnection.RegisterInput</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterInput</servlet-name>
    <url-pattern>/RegisterInput</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminCheck</display-name>
    <servlet-name>AdminCheck</servlet-name>
    <servlet-class>com.DBConnection.AdminCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminCheck</servlet-name>
    <url-pattern>/AdminCheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifyCheck</display-name>
    <servlet-name>ModifyCheck</servlet-name>
    <servlet-class>com.DBConnection.ModifyCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyCheck</servlet-name>
    <url-pattern>/ModifyCheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteFood</display-name>
    <servlet-name>DeleteFood</servlet-name>
    <servlet-class>com.DBConnection.DeleteFood</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteFood</servlet-name>
    <url-pattern>/DeleteFood</url-pattern>
  </servlet-mapping>
</web-app>